body {
    background-color: var(--color-black);
    color: var(--color-white);
    cursor: none;
}


.main {
    width: 100%;
    padding: 9vw 18.75vw 8vw;
    box-sizing: border-box;
    height: fit-content;
}

/* 드래그 색상 변경 */
::selection {color:rgb(255, 255, 255);background:var(--color-orange); font-weight: 600;}


/*메인 내비게이션 현재 접속중인 페이지 글씨 하얗게*/
.header .h_nav li:nth-child(1) a {
    color: var(--color-white);
}

/* :::: 메인 이미지+설명글 :::: */
.main .info_wrap {}
.main .info_wrap .info_img {
    width: 100%;
    height: 35vw;
    background-color: lightgray;
    object-fit: cover;
}
.main .info_wrap .info_img img{
    width: 100%;
    height: 100%;
}
.main .info_wrap .info_txt {
    width: 100%;
}
.main .info_wrap .info_txt .info_title {}
.main .info_wrap .info_txt .info_title h2 {
    font-size: 3.125rem;
    font-weight: 500;
    margin-top: 0.625rem;
}
.main .info_wrap .info_txt .info_title h3 {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-darkgray);
}
/* 전시 소개글 */
.main .info_wrap .info_txt .info_article {
    width: 100%;
    margin-top: 52px;
    text-align: justify;

    /*문단 2단 효과*/
    display: flex;
    justify-content: space-between;
}
.main .info_wrap .info_txt .info_article .article_kr,
.main .info_wrap .info_txt .info_article .article_eng {
    width: 45%;  
}
.main .info_wrap .info_txt .info_article .article_kr p,
.main .info_wrap .info_txt .info_article .article_eng p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 3.125rem;
}
.main .info_wrap .info_txt .info_article .article_eng p{
    line-height: 1.4;
}

/* :::: 카테고리별 탭 섹션 시작 :::: */
.tab_wrap {
    width: 100%;
    margin-top: 9.375vw;
    margin-bottom: 10.417vw;
}




/* :::: 탭 섹션 공통 스타일 지정 :::: */
.content_wrap {
    width: 100%;
}
.tab_container { /*js적용시 애니메이션 효과*/
    transition: .3s;
}
.tab_section {
    width: 100%;
    /* outline: 1px solid red; */
}
.tab_section h2 { /*제목 폰트*/
    font-size: 2rem;
    margin-bottom: 1.25rem;
}
.tab_section p { /*본문 폰트*/
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6;
}
.tab_section .article_eng p { /*본문 폰트*/
    line-height: 1.4;
}
.tab_img {
    margin: 6.25rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.poster_box {
    width: 30vw;
    height: 40vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* outline: 1px solid rgb(0, 255, 255); */
}
.poster {
    transition: opacity 0.5s ease; /* 부드러운 전환 효과 */
    position: absolute;
    width: 30vw;
    height: auto;
    /* outline: 1px solid blue; */
}

.color {
    opacity: 0; /* 기본적으로 컬러 이미지는 숨김 */
}

.poster_box:hover .black {
    opacity: 0; /* 블랙 이미지를 숨김 */
}

.poster_box:hover .color {
    opacity: 1; /* 컬러 이미지를 보이게 함 */
}


/* :::: 아이덴티티 섹션 :::: */
#identity .tab_txt .tab_article {
    width: 100%;
    text-align: justify;

    /*문단 2단 효과*/
    display: flex;
    justify-content: space-between;
}

#identity .identity_title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    border-top: 0.125rem solid var(--color-darkgray);
    border-bottom: 0.125rem solid var(--color-darkgray);
    padding: 0.625rem 0;
}
#identity .tab_txt .tab_article p {}
#identity .tab_txt .tab_article .article_kr,
#identity .tab_txt .tab_article .article_eng {
    width: 45%;
}
#identity .tab_section .img1 img {
    width: 27.1875vw;
    height: 36.5625vw;
}
#identity .tab_section .img2 img {
    max-width: 100%;    /* 반응형 */
    width: 100%;     /* 고정 크기 */
    height: 100%;
}

/* 모바일 반응형 */
@media (max-width: 480px) {
    /* 영문 소개 숨김 */
    .article_eng{
        display: none;
    }
    .cursor{
        display: none;
    }

    .main {
        padding: 25vw 20px 20vw;
    }
    .main .info_wrap .info_img {
        width: 100%;
        height: 50vw;
    }
    .main .info_wrap .info_txt .info_title h2 {
        font-size: 5rem;
        font-weight: 500;
        margin-top: 1rem;
    }

    .main .info_wrap .info_txt .info_title h3 {
        font-size: 2.2rem;
        font-weight: 400;
        color: var(--color-darkgray);
    }
    .category_wrap button {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 5vw;
    }
    .tab_section h2 { /*제목 폰트*/
        font-size: 3.5rem;
        font-weight: 500;
    }
    .main .info_wrap .info_txt .info_article {
        margin-top: 30px;
    }
    .main .info_wrap .info_txt .info_article .article_kr,
    #identity .tab_txt .tab_article .article_kr {
    width: 100%;  
    }
    .main .info_wrap .info_txt .info_article .article_kr p,
    .tab_section p {
        font-size: 2.3rem;
        margin-bottom: 5rem;
    }

    .tab_section h2 { /*제목 폰트*/
        font-size: 3.8rem;
        margin-bottom: 1.25rem;
    }
    .poster_box {
        margin: 50px auto;
    }
    .color {
        opacity: 0; /* 기본적으로 컬러 이미지는 숨김 */
    }
    
    .poster_box:hover .black {
        opacity: 1; /* 모바일에서는 호버 효과를 적용하지 않음 */
    }

    .poster_box:hover .color {
        opacity: 0; /* 모바일에서는 컬러 이미지를 숨김 */
    }

    #identity .identity_title{
        font-size: 5rem;
        font-weight: 500;
        border-top: 0.2rem solid var(--color-darkgray);
        border-bottom: 0.2rem solid var(--color-darkgray);
    }
    #identity .tab_section .img1 img {
        width: 200px;
        height: 290px;
    }

}


.fade-up {
    opacity: 0;
    transform: translateY(50px);
}

.main .info_wrap{
    position: relative;
}

/* scroll down animation */
    #scroll-wrapper {
        display: table;
        width: fit-content;
        height: 100%;
        position: absolute;
        top: 20%;
        right: -20%;
        transform: translate(-50%, -50%);
    }
    #scroll-wrapper {
        display: table;
        width: fit-content;
        height: 100%;
        position: absolute;
        top: 20%;
        right: -20%;
        transform: translate(-50%, -50%);
    }
    
    #scroll-wrapper-inner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }
    
    #scroll-down {
        display: block;
        position: relative;
        padding-top: 4.9rem;
        text-align: center;
    }
    
    #scroll-title {
        display: block;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.4em;
        text-align: center;
        transform: rotate(90deg);
        margin-bottom: 2.8rem;
    }
    #scroll-down::before {
        -webkit-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
        /* Safari 4+ */
        
        -moz-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
        /* Fx 5+ */
        
        -o-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
        /* Opera 12+ */
        
        animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
        /* IE 10+, Fx 29+ */
        
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -1px;
        width: 0.125rem;
        height: 5.6rem;
        background: rgb(255, 255, 255);
        content: ' ';
    }